<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lidong.maxbox">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="abdroid.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lidong.maxbox.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.QRcodeActivity" />
        <activity android:name=".activity.QrcodeSonAcitvity.QrCodeResultActivity" />
        <activity android:name=".activity.QrcodeSonAcitvity.QrCodeCreateActivity" />
        <activity android:name=".activity.QrcodeSonAcitvity.QrcodePickActivity" />
        <activity android:name=".activity.QrcodeSonAcitvity.TextActivity" />
        <activity android:name=".activity.QrcodeSonAcitvity.UrlActivity" />
        <activity android:name=".activity.QrcodeSonAcitvity.ContactActivity" />
        <activity android:name=".activity.QrcodeSonAcitvity.PhoneNumberActivity" />
        <activity android:name=".activity.QrcodeSonAcitvity.SmsActivity" />
        <activity android:name=".activity.QrcodeSonAcitvity.EmailActivity" />
        <activity android:name=".activity.QrcodeSonAcitvity.DisplayQrcodeActivity" />
        <activity android:name=".activity.LedActivity" />
        <activity android:name=".activity.CompassMainActivity" />
        <activity android:name=".activity.LedActivity" />
        <activity android:name=".activity.CompassMainActivity" />
        <activity android:name=".activity.LevelActivity" />
        <activity android:name=".activity.ProtractorActivity" />
        <activity android:name=".activity.MagnifierActivity" />
        <activity android:name=".activity.SoundMetelActivity" />
        <activity android:name=".activity.MirrorActivity" />
        <activity android:name=".activity.RulerActivity" />
        <activity android:name=".activity.FlashlightActivity" />
        <activity android:name=".activity.SizeActivity" />
        <activity android:name=".activity.UnitConverterActivity" />
    </application>

</manifest>